<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.imosso">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/policia_cuadrado"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/policia"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".Pdf_Guide" />
        <activity android:name=".Test" />
        <activity android:name=".TestMenu" />
        <activity android:name=".Resumenes" />
        <activity android:name=".notaTest" />
        <activity android:name=".pdf_resumenes" />
        <activity android:name=".PdfResumenesActivity" />
        <activity android:name=".MenuResumenesPdfActivity" />
        <activity android:name=".pdf_resumen"></activity>
    </application>

</manifest>